.searchbar{
    height:1.5em;
    width: 20em;
    border-style: solid;  
    border-width: medium;  
    border-color: rgb(15, 15, 15);
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px
}

button{
    height: 1.69em;
    font-size: xx-large;
    border-width: medium; 
    border-color: black; 
    margin-left: 5px;
    border-radius: 10px;

}

button:hover{
    border-color: rgb(194, 194, 64);
}

.greeting{
    text-align: center;
}

.info{
    font-size: x-large;
}